---
import LandingHeader from '../components/LandingHeader.astro';
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import ChargeSection from '../components/Model-Y.astro';
import ModelY from '../components/Model-Y.astro';
import ModelX from '../components/Model-X.astro';
import ModelThree from '../components/Model-3.astro';
import ModelS from '../components/Model-S.astro';
import PowerWall from '../components/PowerWall.astro';
import Accessories from '../components/Accessories.astro';
---

<Layout title="Electric Cars, Solar & Clean Energy | Tesla">
	<LandingHeader />

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
	 <div class="snap-center">
			<HeroSection/>
	 </div>
	<div class="snap-center">
		<ModelS />
 	</div>
 	<div class="snap-center">
	<ModelThree />
	</div>
	<div class="snap-center">
	<ModelX />
	</div>
	<div class="snap-center">
	<ModelY />
	</div>
	<div class="snap-center">
	<PowerWall />
	</div>
	<div class="snap-center">
	<Accessories />
	</div>
	</main>
</Layout>

<style>
	
</style>
